body {
  background-image: url("mrrogersevil.jpg");
  background-image: #cccccc;
}

.h1-rogers {
  border: 5px solid rgb(240, 9, 9);
  padding: 20px;
  background-color: rgb(201, 243, 13);
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 50%;
  box-sizing: border-box;
  text-align: center;
  font-family: "Luminari"; 
  font-size: 18px;
  color: black;
}

